[user]
	email = herron@mailbox.org
	name = Drew Herron
	username = drewherron
[core]
	editor = vim
[pager]
    branch = false
[pull]
    rebase = false
[diff]
	tool = vimdiff
[delta]
	features = line-numbers decorations
	line-numbers = true
#[alias] #maybe later...
#	a = add --all
#	b = branch
#	c = commit
#	cm = commit -m
#	d = diff
#	p = push
#	s = status
[credential]
	helper = cache --timeout=3600
