[user]
	email = herron@mailbox.org
	name = Drew Herron
	username = drewherron
[core]
	editor = emacs
	excludesfile = /home/drew/.gitignore
[pager]
    branch = false
[pull]
    rebase = false
[diff]
	tool = emerge
[delta]
	features = line-numbers decorations
	line-numbers = true
#[alias] #maybe later...
#	a = add --all
#	b = branch
#	c = commit
#	cm = commit -m
#	d = diff
#	p = push
#	s = status
[credential]
    helper = cache --timeout=1200
