[Unit]
Description=Decentralized file synchronization
After=network.target
StartLimitIntervalSec=0[Service]

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/syncthing

[Install]
WantedBy=default.target
