!! Colorscheme

!*foreground: #00FF00
!
!! Brown BG
!!*background: #30251D
!
!! Grey BG
!!*background: #151515
!
!! Black BG
!*background: #000000
!
!!black
!*color0:     #393939
!*color8:     #AF875F
!
!!red
!*color1:     #BF1E2D
!*color9:     #E7212A
!
!!green
!!*color2:     #9DBA3A
!!*color10:    #A9C938
!!blue
!*color2:     #1CA1DB
!*color10:    #00AFDA
!
!!yellow
!*color3:     #F5B915
!*color11:    #F7D325
!
!!blue
!!*color4:     #1CA1DB
!!*color12:    #00AFDA
!!orange
!*color4:     #FF8700
!*color12:    #FFAF00
!
!!magenta
!*color5:     #652F90
!*color13:    #894E9F
!
!!cyan
!*color6:     #EA7D24
!*color14:    #F79321
!
!!white
!*color7:     #E7E8E9
!*color15:    #F3F3F4

!
! Homebrew
! Generated with :
! XRDB2Xreources.py
!
*.foreground:  #00ff00
*.background:  #000000
*.cursorColor: #23ff18
!
! Black
*.color0:      #000000
*.color8:      #666666
!
! Red
*.color1:      #990000
*.color9:      #e50000
!
! Green
!*.color2:      #00a600
!*.color10:     #00d900
! Blue
*.color2:      #0000b2
*.color10:     #0000ff
!
! Yellow
*.color3:      #999900
*.color11:     #e5e500
!
! Blue
!*.color4:      #0000b2
!*.color12:     #0000ff
! Orange
*color4:     #FF8700
*color12:    #FFAF00
!
! Magenta
*.color5:      #b200b2
*.color13:     #e500e5
!
! Cyan
*.color6:      #00a6b2
*.color14:     #00e5e5
!
! White
*.color7:      #bfbfbf
*.color15:     #e5e5e5
!
! Bold, Italic, Underline
*.colorBD:     #00ff00
!*.colorIT:
!*.colorUL:

!! URxvt Appearance
URxvt.saveLines:        10000
URxvt.xftAntialias:     true
URxvt.font:             xft:inconsolata:pixelsize=14:antialias=true:hinting=true, xft:dejavu sans mono:pixelsize=13:antialias=true,hinting=true
URxvt.boldFont:         xft:inconsolata:pixelsize=14:antialias=true:hinting=true, xft:dejavu sans mono:pixelsize=13:antialias=true,hinting=true
URxvt.italicFont:       xft:inconsolata:pixelsize=14:antialias=true:hinting=true, xft:dejavu sans mono:pixelsize=13:antialias=true,hinting=true
URxvt.bolditalicFont:   xft:inconsolata:pixelsize=14:antialias=true:hinting=true, xft:dejavu sans mono:pixelsize=13:antialias=true,hinting=true
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.internalBorder: 0
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.geometry: 100x40

URxvt.urlLauncher: firefox
