! URxvt Appearance
URxvt.saveLines:        10000
URxvt.xftAntialias:     true
URxvt.font:             xft:Source Code Pro Semibold:style=Semibold:pixelsize=16:antialias=true:hinting=true, xft:dejavu sans mono:pixelsize=14:antialias=true,hinting=true
URxvt.boldFont:         xft:Source Code Pro:style=Bold:pixelsize=16:antialias=true:hinting=true, xft:dejavu sans mono:pixelsize=16:antialias=true,hinting=true
URxvt.italicFont:       xft:Source Code Pro:style=Italic:pixelsize=14:antialias=true:hinting=true, xft:dejavu sans mono:pixelsize=16:antialias=true,hinting=true
URxvt.bolditalicFont:   xft:Source Code Pro:style=Bold Italic:pixelsize=14:antialias=true:hinting=true, xft:dejavu sans mono:pixelsize=16:antialias=true,hinting=true
URxvt.letterSpace: -2.5
URxvt.lineSpace: 0
URxvt.internalBorder: 0
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.geometry: 100x40
URxvt.urlLauncher: firefox
! Fade inactive window
! URxvt.fading: 30
! Transparency (0-1):
! *.alpha: 0.8

Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! URxvt*underlineColor:             color
! URxvt*scrollColor:                color
! URxvt*troughColor:                color
! URxvt*highlightColor:             color
! URxvt*highlightTextColor:         color
! URxvt*cursorColor:                  red
! URxvt*cursorColor2:               color
! URxvt*pointerColor:               color
! URxvt*pointerColor2:              color
! URxvt*borderColor:                color
! URxvt*iconFile:                   file
! URxvt*font:                       fontname
! URxvt*boldFont:                   fontname
! URxvt*italicFont:                 fontname
! URxvt*boldItalicFont:             fontname
! URxvt*intensityStyles:            boolean 
! URxvt*inputMethod:                name
! URxvt*preeditType:                style
! URxvt*imLocale:                   string
! URxvt*imFont:                     fontname
! URxvt*title:                      string
! URxvt*iconName:                   string
! URxvt*buffered:                   boolean
! URxvt*depth:                      number
! URxvt*visual:                     number
! URxvt*transient-for:              windowid
! URxvt*override-redirect:          boolean
! URxvt*hold:                       boolean
! URxvt*externalBorder:             number
! URxvt*internalBorder:             number
! URxvt*borderLess:                 true
! URxvt*lineSpace:                  number
! URxvt*letterSpace:                number
! URxvt*skipBuiltinGlyphs:          boolean
! URxvt*pointerBlankDelay:          number
! URxvt*backspacekey:               string
! URxvt*deletekey:                  string
! URxvt*print-pipe:                 string
! URxvt*modifier:                   modifier
! URxvt*cutchars:                   string
! URxvt*answerbackString:           string
! URxvt*secondaryScreen:            boolean
! URxvt*secondaryScroll:            boolean
! URxvt*perl-lib:                   string
! URxvt*perl-eval:                  perl-eval
! URxvt*perl-ext-common:            string
! URxvt*perl-ext:                   string
! URxvt*iso14755:                   boolean
! URxvt*iso14755_52:                boolean
! URxvt*xrm:                        string
! URxvt*keysym.sym:                 keysym
! URxvt*background.border:          boolean
! URxvt*background.expr:            string
! URxvt*background.interval:        seconds
! URxvt*bell-command:               string
! URxvt*kuake.hotkey:               string
! URxvt*matcher.button:             string
! URxvt*matcher.launcher:           string
! URxvt*matcher.launcher.*:         string
! URxvt*matcher.pattern.*:          string
! URxvt*matcher.rend.*:             string
! URxvt*remote-clipboard.fetch:     string
! URxvt*remote-clipboard.store:     string
! URxvt*searchable-scrollback:      string
! URxvt*selection-autotransform.*:  string
! URxvt*selection-pastebin.cmd:     string
! URxvt*selection-pastebin.url:     string
! URxvt*selection.pattern-0:        string
! URxvt*tab-bg:                     colour
! URxvt*tab-fg:                     colour
! URxvt*tabbar-bg:                  colour
! URxvt*tabbar-fg:                  colour
! URxvt*url-launcher:               string

! COLORS

! foreground/background
*background: black
*foreground: P1

! CGA RGBI
! name		dark	light
! black	    0	    8
! red		1	    9
! green	    2	    10
! yellow	3	    11
! blue		4	    12
! magenta	5	    13
! cyan      6	    14
! white	    7	    15

#define black     #000000
#define red       #AA0000
#define green     #00aa00
#define brown     #AA5500
#define blue      #0000aa
#define magenta   #AA00AA
#define cyan      #00AAAA
#define lgray     #AAAAAA
#define dgray     #555555
#define lred      #FF5555
#define lgreen    #55FF55
#define yellow    #FFFF55
#define lblue     #5555ff
#define lmagenta  #FF55FF
#define lcyan     #55FFFF
#define white     #FFFFFF

#define P1        #43e600
#define P3        #e6a500

*.color0  : black
*.color1  : red
*.color2  : green
*.color3  : brown
*.color4  : blue
*.color5  : magenta
*.color6  : cyan
*.color7  : lgray
*.color8  : dgray
*.color9  : lred
*.color10 : lgreen
*.color11 : yellow
*.color12 : lblue
*.color13 : lmagenta
*.color14 : lcyan
*.color15 : white
